.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #f8f9fa;
    color: #2c3e50;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    position: relative;
}

.marqueeContent {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 45s linear infinite;
}

.marqueeItem {
    display: inline-block;
    margin-right: 900px;
    position: relative;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}